.user_list_container {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  font-size: 1.2rem;
  min-width: 12.2vw;
  min-height: 96.2vh;
  margin-left: 10px;
  padding-left: 15px;
  border-radius: 8px;
  color: #ff0000;
  background-color: #555;
}
.list_style {
  align-self: flex-end;
  margin-top: -20%;
  margin-right: 10px;
  padding-right: 10px;
  text-align: right;
  color: #00ff4ccf;
  font-size: 2rem;
}
ul {
  list-style-type: none;
}
