#left_continer {
  float: left;
  min-width: 25vw;
  min-height: 98vh;
  border: 1px dashed blue;
}

#main_container {
  min-width: 60vw;
  min-height: 15vw;
  float: left;
  border: 1px solid green;
}
