#centring {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.main_container {
  max-width: 30vw;
  margin: 4vh 0px 0px 0px;
  color: white;
}
.user {
  border-radius: 5px;
  padding: 5px;
  color: hsl(99, 100%, 50%);
  background-color: hsla(122, 100%, 50%, 0.205);
}
.search_bar input {
  font-size: 1.5rem;
  min-width: 40vw;
  min-height: 5vh;
  margin: 1% 0 0;
  padding-left: 5%;
  border: 3px solid #13ac41;
  border-radius: 8px;
  background-color: #00ff4cc6;
}

input:focus {
  outline: none;
}
